:{$CADDY_SERVER_PORT} {
	reverse_proxy {$APP_SERVICE_NAME}:{$APP_SERVICE_PORT}

	header {
		# Optional CORS support if needed
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, OPTIONS, PATCH"
		Access-Control-Allow-Headers "Authorization, Content-Type"
		Access-Control-Allow-Credentials true
	}

	encode gzip
	log {
		output stdout
		format json
	}
}
